autopep8==1.4.3
beautifulsoup4==4.6.0
certifi==2018.4.16
cftime==1.0.0
chardet==3.0.4
Cython==0.28.4
docopt==0.6.2
idna==2.7
Jinja2==2.10
lxml==4.2.4
MarkupSafe==1.0
netCDF4==1.4.0
numpy==1.15.0
pycodestyle==2.4.0
Pydap==3.2.2
requests==2.19.1
scipy==1.1.0
six==1.11.0
urllib3==1.23
WebOb==1.8.2
